@import '~bulma/sass/utilities/_all';

$primary: #225193;
$primary-invert: findcolorinvert($primary);
$success: #3cb371;
$success-invert: findcolorinvert($success);
$info: #f5eda0;
$info-invert: findcolorinvert($success);
$family-primary: 'IBM Plex Sans', "UD新ゴ コンデンス90 L", "UD Shin Go Conde90 L", sans-serif;

$colors: (
  'primary': (
    $primary,
    $primary-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
);

@import '~bulma';
@import '~buefy/src/scss/buefy';
